<library path="src">
  <class name="v4l2ucp" type="rqt_v4l2ucp.v4l2ucp.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Control a webcam/ucp device through the v4l2ucp ros node.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>v4l2ucp webcam control</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
