<?xml version="1.0"?>
<launch>
  <arg name="hangup" default="false"/>
  <!-- start a dynamic reconfigure server -->
  <node name="example_server" pkg="rqt_dr_single" type="example_server.py"
      output="screen">
    <param name="hangup" value="$(arg hangup)"/>
  </node>
  <node name="example_server2" pkg="rqt_dr_single" type="example_server.py"
      output="screen"
      ns="test"/>

  <!-- launch an rqt_dr_single to interact with it -->
  <node name="rqt_dr_single" pkg="rqt_dr_single" type="rqt_dr_single"
      output="screen" >
    <param name="server" value="example_server" />
  </node>

</launch>
